.login {
  &__btn {
    color: $nav-link-color;
    text-decoration: none;
    font-size: $login-btn-font-size;
    padding-right: $login-btnpadding-right;
  }
  a {
    font-weight: $nav-link-font-weight;
    &:last-child {
      color: $btn-color;
    }
  }
}
