.hero-slide {
  p {
    color: $hero-slide-pragraph-color;
    font-weight: $hero-slide-pragraph-font-weight;
    &.lead {
      font-size: 1.5rem;
    }
  }
  button {
    border-radius: $btn-border-radius;
    color: $white;
    font-weight: $hero-slide-btn-font-weight;
  }
  @media screen and (max-width: $mobile) {
    text-align: center;
  }
}
