.hero-slide {
  p {
    color: $hero-slide-pragraph-color;
    font-weight: $hero-slide-pragraph-font-weight;
    &.lead {
      font-size: $hero-slide-pragraph-font-size;
      @media screen and (max-width: $mobile) {
        font-size: $hero-slide-pragraph-font-size-mobile;
      }
    }
  }
  button {
    border-radius: $btn-border-radius;
    color: $white;
    font-weight: $hero-slide-btn-font-weight;
    @media screen and (max-width: $mobile) {
      font-size: $hero-slide-pragraph-font-size-mobile;
    }
    &:hover {
      color: $white;
      filter: blur(1px);
    }
  }
  @media screen and (max-width: $mobile) {
    text-align: center;
  }
}
