$font-family-sans-serif: "Poppins", sans-serif;
$primary: #2acfcf;
$primary-dark: #3b3054;
$btn-border-radius: 50px;
$nav-link-color: #bfbfbf;
$nav-link-font-weight: 700;
$btn-color: #fff;
$btn-padding-x: 1.3rem;
$hero-slide-pragraph-color: $nav-link-color;
$hero-slide-pragraph-font-weight: 500;
$hero-slide-btn-font-weight: $nav-link-font-weight;
$mobile: 375px;
$desktop: 1440px;
